*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@view-transition {
  navigation: auto;
}

body {
  background-image: url('images/brus3.gif');
  background-size: 40%;
}

body, p {
  font-family: "Helvetica", sans-serif;
  font-weight: 900;
  color: white;
}



a{
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
a:hover {
  color: #a0a7a8
}



h1 {
  font-size: 72px;
}

li, a {
  font-family: "Helvetica", sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #fdfeff;
  text-decoration: none;
}







.navbar {
  list-style: none;
  display: inline-block;
  padding: 20px 20px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}







img {  
   user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}



