*{
  margin: 0;
  padding: 0;
}
*{
  cursor: url('icons/cursor1.cur'),crosshair;
}
a:hover{
  cursor: crosshair;
}

body {
  background-image: url('images/noise2.gif');
}

h1 {
  text-align: center;
}

body, p{
  font-family: "Helvetica", sans-serif;
  font-weight: 900;
  color: white;
}

a{
  text-decoration: none;
}
