*{
  margin: 0;
  padding: 0;
}

*{
  cursor: url('icons/cursor1.cur'),crosshair;
}
a:hover{
  cursor: crosshair;
}




body{
  min-height: 100vh;
  background-color: #e4e4e4;
  font-family: Helvetica, sans-serif;
}







@media(max-width: 605px){
  .hideOnMobile{
    display: none;
  }
}
@media(max-width: 430px){
  .sidebar{
    width: 100%;
  }
}






p{
  color: #2e2e2e;
}

a{
  text-decoration: none;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(0, 0, 0, 0);
   color: 2e2e2e;
   text-align: center;
}
